---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="About the project">
  <h2 class="text-4xl text-white font-bold">Federico Guzmán</h2>
  <div class="flex flex-col gap-2 my-6">
    <p>
      ¡Hola! Soy Federico, tengo 25 años, soy desarrollador web Frontend en
      constante búsqueda de oportunidades para crecer y mejorar mi perfil
      profesional. Con una sólida formación en desarrollo fullstack en Henry y
      cursos externos realizados previamente, he adquirido habilidades en HTML5,
      CSS3, JavaScript (incluyendo frameworks como React.js), SQL, Express y
      Sequelize. Mi enfoque principal en este momento es consolidar mis
      habilidades como desarrollador frontend y contribuir de manera efectiva a
      proyectos web.
    </p>
    <p>
      Actualmente, estoy enfocado en ampliar mis conocimientos y experiencia
      como desarrollador frontend, y estoy interesado en oportunidades para
      realizar prácticas como Desarrollador Jr en proyectos web. Me apasiona
      aprender y enseñar, y estoy comprometido a crecer profesionalmente junto
      con una empresa y mis compañeros de trabajo.
    </p>
    <p>
      Estoy emocionado de explorar nuevas oportunidades y contribuir de manera
      significativa al éxito de los proyectos en los que me involucre. ¡Espero
      tener la oportunidad de trabajar juntos!
    </p>

    <p>
      <span class="text-green-600">Stack:</span>
      Javascript | Typescript | Astro | React | Redux | Zustand | Next.JS | NodeJS
      | Express | PostgreSQL | Sequelize | Html | Css | Tailwind
    </p>
  </div>

  <h2 class="text-2xl text-white font-bold mb-6">Contacto</h2>

  <div class="flex flex-col gap-2">
    <p>federicoguzman.css@gmail.com</p>
    <p>+54 380 4533759</p>
    <a class="text-green-400" href="https://www.linkedin.com/in/fedecodelab/"
      >https://www.linkedin.com/in/fedecodelab/</a
    >
    <a class="text-green-400" href="https://github.com/FedeCodeLab
"
      >https://github.com/FedeCodeLab
    </a>
    <a class="text-green-400" href="https://fedecodelab.vercel.app/">
      https://fedecodelab.vercel.app/</a
    >
  </div>
</Layout>
