---
console.log("javascript");
import HeaderButton from "./HeaderButton.astro";
import RocketIcon from "../icons/Rocket.astro";
import AboutIcon from "../icons/AboutIcon.astro";
import ClockIcon from "../icons/ClockIcon.astro";
import { Counter } from "./Counter";
---

<header transition:persist class="py-8 px-4 mx-auto max-w-xl lg:py-16 lg:px-6">
  <div class="mx-auto text-center mb-8 lg:mb-16">
    <h2 class="mb-4 text-5xl tracking-tight font-extrabold text-white">
      SpaceX launches 🚀
    </h2>
    <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">
      All the information about SpaceX launches
    </p>
    <!-- <Counter client:visible /> -->
  </div>

  <nav
    class="flex flex-col items-center justify-center w-full text-center md:flex-row gap-3"
  >
    <HeaderButton href="/">
      <RocketIcon slot="before" />Últimos lanzamientos
    </HeaderButton>
    <HeaderButton href="/about"><AboutIcon slot="after" />Sobre Mí</HeaderButton
    >
  </nav>
</header>
